{% extends 'base.html' %}

{% block content %}
<h2>Lista de Productos</h2>
<button onclick="window.location.href='{% url 'agregar_producto' %}'">➕ Agregar Nuevo Producto</button>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre Producto</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Categoría</th>
            <th>Disponible</th>
            <th>ID Proveedor</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.id_productos }}</td>
            <td>{{ producto.nombre_producto }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.categoria }}</td>
            <td>{{ producto.disponible|yesno:"Sí,No" }}</td>
            <td>{{ producto.id_proveedor }}</td>
            <td class="actions">
                <a href="{% url 'actualizar_producto' producto.id_productos %}">✏️ Editar</a>
                <a href="{% url 'borrar_producto' producto.id_productos %}">🗑️ Borrar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
